:root {
  --day-color: #f8ef87;
  --night-color: rgb(2, 2, 145);
}

html {
  box-sizing: border-box;
}

main {
  position: relative;
}

.light-switch {
  background-color: aliceblue;
  position: absolute;
  border: 2px solid red;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 40px;
  border-radius: 10px;
  top: 101%;
  left: 35%;
}

.container {
  position: absolute;
  height: 800px;
  background-image: linear-gradient(45deg, red, yellow);
  transition: background-image 1s ease-in-out;
  mix-blend-mode: overlay;
  z-index: 5;
  position: relative;
}

.color0 {
  background-color: var(--day-color);
  transition: background-color 1.5s ease-in-out;
  transition-timing-function: cubic-bezier(0, 0.55, 0.51, 1);
  .star1,
  .star2,
  .star3 {
    opacity: 0;
    transition: opacity 1.5s ease-in;
    transform: translate(100px, 200px);
    transition: transform 3s ease-in-out;
  }
  .light-switch:hover {
    border: 5px solid var(--night-color);
  }
}

.color1 {
  background-color: var(--night-color);
  transition: background-color 1.5s ease-in-out;
  transition-timing-function: cubic-bezier(0, 0.55, 0.51, 1);
  .star1,
  .star2,
  .star3 {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    transform: translate(-100px, -200px);
    transition: transform 1.5s ease-in-out;
  }
  .light-switch:hover {
    border: 5px solid var(--day-color);
  }
}

.star1,
.star2,
.star3 {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 50px;
  height: 50px;
  background-color: --night-color;
  border-radius: 100%;
  z-index: 20;
  clip-path: polygon(
    50% 0%,
    60% 35%,
    95% 20%,
    70% 50%,
    95% 80%,
    60% 65%,
    50% 100%,
    40% 65%,
    5% 80%,
    30% 50%,
    5% 20%,
    40% 35%
  );
}

.star1 {
  top: 200px;
  left: 200px;
  width: 50px;
  height: 50px;
  border: 20px solid goldenrod;
}

.star2 {
  top: 430px;
  left: 270px;
  width: 30px;
  height: 30px;
  border: 13px solid goldenrod;
}

.star3 {
  top: 340px;
  left: 670px;
  width: 20px;
  height: 20px;
  border: 10px solid goldenrod;
}
